
<div class="mx-5">
<div class="text-center mt-5">
<h1>Edit the Article</h1>
</div>


<% if @article.errors.any? %>
<h2>the following error prevented the article from being saved</h2>
<ol>
<% @article.errors.full_messages.each do |msg|%>
<li> <%= msg%> </li>

<% end  %> 
</ol>
    
<% end  %> 

<%= form_with(model: @article, local: true) do |f| %>

<p>
<%= f.label :title, class: 'form-label' %><br/>
<%= f.text_field :title, class: 'form-control'%>
</p>
<p>
<%= f.label :description, class: 'form-label' %><br/>
<%= f.text_area :description, class: 'form-control' %>
</p>
<p>
<%= f.label :image %><br/>
  <%= f.file_field :image %>
</p>
<p>
<%= f.submit class: 'btn' %>
</p>

<% end %>
</div>