<div class="mx-5">
<div class="text-center mt-5">
<h1>Create a New Article</h1>
</div>

<%= render 'shared/error' %>

<%= form_with(model: @article, local: true) do |f| %>

<p>
<%= f.label :title, class: 'form-label' %><br/>
<%= f.text_field :title, class: 'form-control' %>
</p>
<p>
<%= f.label :description, class: 'form-label'%><br/>
<%= f.text_area :description, class: 'form-control' %>
</p>
<p>
<%= f.label :image %><br/>
  <%= f.file_field :image %>
</p>
<p class="my-5">
<%= f.submit class: 'btn' %>
<%= link_to 'Cancel & Return to Article Listing', articles_path, class: 'btn mx-3' %>
</p>


<% end %>


</div>