<%= render 'shared/error', obj: @user %>

<%= form_with model: @user, local: true, autocomplete: "off" do |f| %>
<p>
<%= f.label :username, class: 'form-label' %><br/>
<%= f.text_field :username, class: 'form-control', placeholder: 'Enter Your UserName' %>
</p>
<p>
<%= f.label :email, class: 'form-label'%><br/>
<%= f.email_field :email, class: 'form-control', placeholder: 'Enter Your Email' %>
</p>
<p>
<%= f.label :password %><br/>
  <%= f.password_field :password, class: 'form-control', placeholder: 'Enter Your Password'  %>
</p>
<p class="my-5">
<%= f.submit "Sign Up", class: 'btn' %>
<%= link_to 'Cancel & Return to Article Listing', articles_path, class: 'btn mx-3' %>
</p>


<% end %>
