<%# form start %>

<%= render 'shared/error', obj: @category %>

<%= form_with model: @category, local: true, autocomplete: "off" do |f| %>
<p>
<%= f.label :name, "Category Name", class: 'form-label' %><br/>
<%= f.text_field :name, class: 'form-control', placeholder: 'Enter Your Category Name' %>
</p>

<p class="my-5">
<%= f.submit class: 'btn' %>
<%= link_to 'Cancel & Return to Category Listing', categories_path, class: 'btn mx-3' %>
</p>


<% end %>


  <%# form end %>