    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <div class="container-fluid px-5">
        <%# <a class="navbar-brand text-light fw-bold fs-3" href="/">AlphaBlog</a> %>
        <%= link_to "Alpha Blog", root_path, class: 'navbar-brand text-light fw-bold fs-3' %>
        <button class="navbar-toggler bg-white"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            
            <%= link_to 'Articles', articles_path, class: "nav-link active text-light" %>
            </li>
            <li class="nav-item">
            <%= link_to 'Bloggers', users_path, class: "nav-link text-light"  %>
            </li>
            <%# category dropdown  %>
          
          <li class="nav-item dropdown userdropdown px-3">
  <a class=" dropdown-toggle text-light active-user" type="button" href="#"   id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   
   Categories
  </a>
  <div class="dropdown-menu" >
  <% if logged_in? && current_user.admin?%>
   <%= link_to "Create New Category", new_category_path, class: "dropdown-item " %>
     <%end%>
      <%= link_to "View Category", categories_path, class: "dropdown-item " %>
  </div>

</li>

            <%# end dropdown %>
        </ul>
        

<% if logged_in? %>
<li class="nav-item dropdown userdropdown px-3">
  <a class=" dropdown-toggle text-light active-user" type="button" href="#"   id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <%= "Admin:" if current_user.admin? %>
   <%= current_user.username %>
  </a>
  <div class="dropdown-menu" >
 <%= link_to "Download CSV", download_csv_users_path(format: :csv), class: 'dropdown-item' %>

   <%= link_to "View Your Profile", user_path(current_user), class: "dropdown-item " %>
      <%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item"  %>
   <%= button_to "Delete Profile", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: {confirm: "Are You Sure"} %>
  </div>

</li>
       <%= link_to 'LogOut', logout_path, class: "nav-link active btn mx-2", method: :delete %>
        <% else %>
         <%= link_to 'LogIn', login_path, class: "nav-link active btn mx-2 " %>
          <%= link_to 'SignUp', signup_path, class: "nav-link active btn mx-2" %>
         <% end %>
         </div>
    </div>
    </nav>